@using OMedia.Extensions
@model IEnumerable<NewsViewModel>
@{
    ViewData["Title"] = "All News";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
<div class="col-md-7">

    @foreach (var m in Model)
    {
        <div class="social-feed-box">
            <div class="social-avatar">
                <div class="media-body">
                    <a href="#">
                        @m.WriterName
                    </a>
                    <small class="text-muted">@m.Date</small>
                </div>
            </div>
            <div class="social-body">
                <h3>@m.Title</h3>
                <p>
                    @m.Content
                </p>

                <div class="btn-group">
                    <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> Like this!</button>
                    <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> Comment</button>
                </div>
                <div>
               @if(this.User.Identity == null 
               ? false 
               : User.Id() == @m.WriterId)
               {
                    <a class="btn btn-warning" asp-controller="News" asp-action="Edit"
                       asp-route-id="@m.Id">Edit</a>
                    <a class="ml-2 btn btn-danger" asp-controller="News" asp-action="Delete"
                       asp-route-id="@m.Id">Delete</a>
               }
            </div>
            </div>
        </div>     
    }
</div>
</div>