@using OMedia.Extensions
@model NewsViewModel

<link href="/css/style.css" rel="stylesheet">


  <div class="container py-5 inline w-75 p-3">
    <div>
      <div>
        <div class="card">
          <div class="card-body p-4">
            <h4 class="text-center ">@Model.Title</h4>
            <div class="row">
              <div class="col">
                <div class="d-flex flex-start">
                  <div class="flex-grow-1 flex-shrink-1">
                    <div>
                      <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-1">
                            <a asp-route-id="@Model.WriterId" asp-area="" asp-controller="User" asp-action="Profile">@Model.WriterName</a>
                           <span class="small">- @Model.Date</span>
                        </h6>
                      </div>
                      <p class="small mb-0">
                        @Model.Content
                      </p>
                    </div>
                    <a asp-area="" asp-controller="News" asp-action="Comment" asp-route-id="@Model.Id" 
                    asp-route-information="" class="btn btn-success">Add Comment</a>
                    @if (Model.Comments.Count == 0)
                    {
                        <div class="d-flex flex-start mt-4">
                          <a class="me-3" href="#">
                          </a>
                          <div class="flex-grow-1 flex-shrink-1">
                            <div>
                              <h2>No Comments yet!</h2>
                            </div>
                          </div>
                        </div>
                    }
                    else
                    {
                        @foreach (var c in @Model.Comments)
                        {
                            <partial name="_CommentPartial" model="@c" asp-route-id="@Model.Id"/>

                              @if(this.User.Identity == null 
                               ? false 
                               : User.Id() == c.AuthorId)
                               {
                                    <a class="btn btn-warning" asp-controller="News" asp-action="EditComment"
                                       asp-route-id="@c.Id">Edit</a>
                                    <form class="input-group-sm" asp-area="" asp-controller="News"
                                      asp-action="DeleteComment" asp-route-id="@c.Id" method="post">
                                            <input class="btn btn-primary" type="submit" value="Delete" />
                                     </form>
                               }
                        }
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>