@using OMedia.Extensions
@model NewsViewModel

<link href="/css/style.css" rel="stylesheet">
@*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
<script src="https://code.iconify.design/iconify-icon/1.0.2/iconify-icon.min.js"></script>


  <div class="container py-5 inline w-75 p-3">
    <div>
      <div>
        <div class="card">
          <div class="card-body p-4">
            <h4 class="text-center ">@Model.Title</h4>
            <div class="row">
              <div class="col">
                <div class="d-flex flex-start">
                  <div class="flex-grow-1 flex-shrink-1">
                    <div>
                      <div class="d-flex justify-content-between align-items-center">
                        <h6 class="mb-1">
                            <a asp-route-id="@Model.WriterId" asp-area="" asp-controller="User" asp-action="Profile">@Model.WriterName</a>
                           <span class="small">- @Model.Date</span>
                        </h6>
                        @if (@Model.WriterId == @User.Id())
                        {
                            <table>
                                <tr>
                                    <td>
                                         <div >
                                            <form class="input-group-sm" asp-area="" asp-controller="News"
                                             asp-action="Delete" asp-route-id="@Model.Id" method="post" class="p-5">
                                                <input class="btn btn-danger" type="submit" value="X"/>
                                            </form>
                                        </div>
                                    </td>
                                    <td>
                                        <div >
                                            <a asp-area="" asp-controller="News" asp-action="Edit" asp-route-id="@Model.Id" 
                                            asp-route-information="" >
                                                 <input class="btn btn-warning" type="submit" icon="bi:pencil" value="✏️"/>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        }
                      </div>
                      <p class="small mb-0">
                        @Model.Content
                      </p>
                    </div>

                    
                    <a asp-area="" asp-controller="News" asp-action="Comment" asp-route-id="@Model.Id" 
                    asp-route-information="" class="btn btn-secondary">Add Comment</a>
                    @if (Model.Comments.Count == 0)
                    {
                        <div class="d-flex flex-start mt-4">
                          <a class="me-3" href="#">
                          </a>
                          <div class="flex-grow-1 flex-shrink-1">
                            <div>
                              <h2>No Comments yet!</h2>
                              

                            </div>
                          </div>
                        </div>
                    }
                    else
                    {
                        @foreach (var c in @Model.Comments)
                        {
                            <partial name="_CommentPartial" model="@c" asp-route-id="@Model.Id"/>
                        }
                    }
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>